*
{
    margin: 0 ;
    padding: 0;
    font-size: 1.5vw;
    color: #FAFAFA;
    box-sizing: border-box;
}
@font-face { font-family: digtal; src: url('./fonts/digital-7.ttf'); } 

.color{
color: #1D242B;
color: #0077C0;
color: #C7EEFF;
color: #FAFAFA;
}
body
{
    display: flex;
    flex-direction: column;
    background-color: #1D242B;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
button
{
    background-color: #1D242B;
    color: #C7EEFF;
    border-radius: 8px;
    font-size: 20px;
    border: solid;
    border:#1D242B ;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10px;
    height: 6vh;
}
button:hover
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
button:active
{
    transform: translateY(4px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#mainbody
{
    border:solid;
    border-color: #FAFAFA;
    border-width: 4px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vh;
    height: 70vh;
    padding: 2vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#display
{
    display: flex;
    border: solid;
    border-radius: 10px;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 15%;
    word-break: break-word; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 30px;
    font-family: "digtal";
}
#opreator{
    color: #0077C0;
    font-size: 5vh;
}

#current
{
    font-size: 5vh;
}

#buttons
{
    display: grid;   
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    height: 50vh;
}
#numbers
{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: stretch;
}
#operations
{
    display: grid;
    grid-template-columns: auto  ;
    align-items: stretch;
    
}

.nonnumber
{
    font-weight: bold;
    color: #0077C0;
}
#fotter
{
    background-color: #0077C0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}
