*
{
    margin: 0 ;
    padding: 0;
    font-size: 1.5vw;
    color: #FAFAFA;
    box-sizing: border-box;
}
/* @font-face {
    font-family: ;
    src: url();
} */
.color{
color: #1D242B;
color: #0077C0;
color: #C7EEFF;
color: #FAFAFA;
}

body
{
    display: flex;
    flex-direction: column;
    background-color: #1D242B;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}
button
{
    background-color: #1D242B;
    color: #C7EEFF;
    border-radius: 8px;
    font-size: 20px;
    border: solid;
    border:#1D242B ;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 10px;
}
button:hover
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
button:active
{
    transform: translateY(4px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#mainbody
{
    border:solid;
    border-color: #FAFAFA;
    border-width: 4px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vh;
    height: 80vh;
    padding: 5vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#display
{
    display: flex;
    background-color: #1D242B;
    height: 40%;
    border: solid;
    border-radius: 10px;
    flex-direction: column;
    flex:1 1 auto;
    word-break: break-word; 
    text-align: right;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 30px;
}
#current
{
    font-size: 5vh;
    padding-top: 10px;
    padding-right: 35px;
}
#topside
{
    display: flex;
    justify-content: flex-end;
    
    padding-top: 10px;
    padding-right: 20px;
    align-content: center;
}
#held{
    font-size: 3.5vh;
}
#opreator{
    color: #0077C0;
    font-size: 3.0vh;
}
#buttons
{
    display: grid;   
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    height: 70vh;
}
#numbers
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: stretch;
}
#operations
{
    display: grid;
    grid-template-columns: auto  ;
    grid-template-rows: auto auto auto;
    align-items: stretch;
    
}
.nonnumber
{
    font-weight: bold;
    color: #0077C0;
}
#fotter
{
    background-color: #0077C0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    #mainbody {
        width: 40vh;
        height: 70vh;
        padding: 5vh;
    }
}